.App {
  text-align: center;
  margin-top: 100px;
}

body{
  background-image: url(bored.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:#F2BE22;
}
h2{
  color:#987D9A;
  font-size: 50px;
  font-family: "Teko", sans-serif;
}
button{
padding-top: 20px;
padding-bottom: 20px;
background-color: #BB9AB1;
color:#FEFBD8;
font-family: "Teko", sans-serif;
font-size: 40px;
padding-left: 15px;
padding-right: 15px;
border:#FEFBD8;
}
button:hover{
  background-color: #EECEB9;
}